:root{
    --accent: #63f5e2;
    --accent-text: rgb(42, 48, 48);
    --page-bck: white;
    --highlight: white;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Courier New', Courier, monospace;
    color: var(--accent-text);
  }
  

/* nav bar style */
nav {
    display: block;
}

.navbar-brand {
    font-weight: 800;
    background-color: var(--accent);
    padding-left:3% ;
    padding-right: 1%;
}

.nav-link {
    color: var(--highlight);
}

.nav-item :hover{
    background-color: var(--accent);
    color: var(--accent-text);
    text-decoration: underline var(--highlight);
}


/* hero */

.header {
    display: block;
    background-size: cover;
    background-image: linear-gradient(rgba(66, 145, 209, 0.5), rgba(68, 181, 201, 0.5)), url("../images/02-hero-bg.jpg");
}

#hero {
    background: var(--accent);
    padding: 5px;
}

/* content */
#main-content {
    position: block;
}

#headshot{
    height: 200px ;
    border-radius: 13px ;
}

.row-header {
    font-size: 47px;
    color: var(--accent-text);
}

.card-group {
    display: flex;
}

#work-card {
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    opacity: 0.8;
    text-decoration: none;
}

#work-card:hover {
    opacity: 1;
}

.card-title, .card-text {
    display: block;
    position:relative;
    background-color:var(--accent);
    opacity:1;
 }